<section class="guideline-intro">
	<h1>Campaign Rules and Guidelines</h1>
	<article>
		<h3>Welcome</h3>
		<p>Today we have over 65 people in 9 locations across the world that are part of the Cloud Collaboration  Design Studios. We purchased Osmos for each continent. The Osmo is a powerful 4K camera with Hollywood  style capabilities and takes awesome selfies and video clips. This is your opportunity to share who you are,  where you work and what you are passionate about.</p>
	</article>
	<article>
		<h3>The Goal | 30 Seconds + 1 Selfie</h3>
		<p>The goal is to film a day in your life within 30 seconds. You are also required to submit a selfie so others can see who you are. Feel free to submit additional information about yourself.</p>
	</article>
	<article>
		<h3>The Catch | 48 Hours</h3>
		<p>You will never know when the Osmo will fall in your hands. When it does, you will only have 48 hours to film and submit your 30 seconds. If you don't submit and hand off the Osmo within the timeframe, a ninja will come after you.</p>
	</article>
	<article>
		<h3>Submit and Pass</h3>
		<p>Once you have submitted your entry, you have the power to choose the next recipient of the Osmo! You are responsible for handing over the Osmo and confirming your hand-off on your dashboard. Once you or your recipients have confirmed the hand-off, the clocks begins for the new recipient!</p>
	</article>
</section>
<section class="meet-osmo">
	<h1>Meet OSMO</h1>
	<article>
		<h3>Quick Start</h3>
		<a href="./img/osmo-quickstart-1.png" target="_blank">
			<img class="quick-start" src="./img/osmo-quickstart-1.png"/>
		</a>
		<a href="./img/osmo-quickstart-2.png" target="_blank">
			<img class="quick-start" src="./img/osmo-quickstart-2.png"/>
		</a>
	</article>
	<article>
		<h3>Video Tutorial</h3>
		<div class="iframe-wrapper">
			<iframe width="560" height="315" src="//www.youtube.com/embed/VqY2qJl0qSM?start=66" frameborder="0" allowfullscreen></iframe>
		</div>
	</article>
</section>