<header>
	<h1>Where’s OSMO & Who are YOU?</h1>
</header>
<section class="guideline-intro">
	<h1>Campaign Rules and Guidelines</h1>
	<article>
		<h3>Welcome</h3>
		<p>
			Today the Cloud Collaboration  Design Studio has over 65 people in 9 locations across the world. In an effort to bring our team together, we invested in an OSMO for each location. OSMO is a powerful, hand-held 4K camera with Hollywood  style capabilities with awesome video images & selfie photos.
		</p>
		<p>
			We are inviting each of you to participate in the CCDS “Where’s OSMO and Who are YOU?” campaign. This is your opportunity to share who you are,  where you work and what you are passionate about.
		</p>
	</article>
	<article>
		<h3>The Goal | 30 Seconds + 1 Selfie</h3>
		<p>
			Use the OSMO to film a day in your life within 30 seconds and submit a selfie so others can see who you are. Feel free to submit additional information about yourself.
		</p>
	</article>
	<article>
		<h3>The Catch | 48 Hours</h3>
		<p>
			From the time you receive the OSMO, you have 48 hours to film and submit your 30 seconds. Since you will never know when the OSMO will fall into your hands, we suggest you be prepared with ideas of what you want to do and say. If you don't submit and hand off the OSMO within the timeframe, ninjas will descend upon you.
		</p>
	</article>
	<article>
		<h3>Submit and Pass</h3>
		<p>
			Once you have submitted your entry, choose the next recipient of the OSMO! You are responsible for handing over the OSMO and confirming your hand-off on your dashboard. Once you and your recipient confirm the hand-off, the clock begins for the new recipient!
		</p>
	</article>
	<article>
		<h3>Final Thoughts</h3>
		<p>
			Voting will take place when all entries are received with top 3 voted submissions winning prizes!
		</p>
	</article>
	<h2 class="last-note">Good luck and may the OSMO be with you!</h2>
	
</section>
<section class="meet-osmo">
	<article>
		<h3>Quick Start</h3>
		<a href="./img/osmo-quickstart-1.png" target="_blank">
			<img class="quick-start" src="./img/osmo-quickstart-1.png"/>
		</a>
		<a href="./img/osmo-quickstart-2.png" target="_blank">
			<img class="quick-start" src="./img/osmo-quickstart-2.png"/>
		</a>
	</article>
	<article>
		<h3>Video Tutorial</h3>
		<div class="iframe-wrapper">
			<iframe width="560" height="315" src="//www.youtube.com/embed/VqY2qJl0qSM?start=66" frameborder="0" allowfullscreen></iframe>
		</div>
	</article>
</section>