<svg version="1.1" id="loader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 width="458px" height="290px" viewBox="0 0 458 290" style="enable-background:new 0 0 458 290;" xml:space="preserve">
	<defs>
		<path id="cloud-path" d="M315,96.1c-71-125.5-215.5-65-224,47.5c-99.5-6-78.5,110-33.5,119l308.5,3.5
		C477,251.1,456.5,53.1,315,96.1z"/>
	</defs>
	<use fill="none" id="outline" xlink:href="#cloud-path"/>
	<use fill="none" id="draw" stroke-linecap="round"  xlink:href="#cloud-path"/>
</svg>
