@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTThin.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTThin.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTExtraLight.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTExtraLight.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansExtraLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTRegular.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTRegular.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTBold.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTBold.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTHeavy.ttf");
  src: url("/./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTHeavy.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansHeavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTThinOblique.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTThinOblique.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansThinOblique.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTExtraLightOblique.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTExtraLightOblique.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansExtraLightOblique.otf") format("opentype");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTRegularOblique.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTRegularOblique.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansRegularOblique.otf") format("opentype");
  font-weight: italic;
  font-style: italic;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTBoldOblique.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTBoldOblique.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansBoldOblique.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTHeavyOblique.ttf");
  src: url("/./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTHeavyOblique.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansHeavyOblique.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
/* line 13, ../sass/main.scss */
* {
  outline: none;
}

/* line 16, ../sass/main.scss */
h1, h2, h3 {
  font-weight: 200;
  margin: 10px 0;
}

/* line 21, ../sass/main.scss */
h4, h5, h6 {
  font-weight: 300;
}

/* line 61, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input:-moz-placeholder {
  color: #D8D8D8;
  font-weight: 200;
}
/* line 64, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input::-moz-placeholder {
  color: #D8D8D8;
  font-weight: 200;
}
/* line 67, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input:-ms-input-placeholder {
  color: #D8D8D8;
  font-weight: 200;
}
/* line 56, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input::-webkit-input-placeholder {
  color: #D8D8D8;
  font-weight: 200;
}

/* line 32, ../sass/main.scss */
button {
  background-color: #ee3923;
  border: none;
  color: white;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
}

/* line 41, ../sass/main.scss */
input {
  border: 1px solid #ee3923;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 1.2rem;
}
/* line 46, ../sass/main.scss */
input:focus {
  outline: none;
}

/* line 51, ../sass/main.scss */
html, body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  font-family: CiscoSans;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #ee3923;
  min-height: 640px;
  min-width: 1125px;
}

/* line 64, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 68, ../sass/main.scss */
.button {
  display: inline-block;
  padding: 10px 18px;
  background-color: whitesmoke;
  border-radius: 1px solid black;
  cursor: pointer;
}

/* line 76, ../sass/main.scss */
nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 100%;
  background: white;
}
/* line 84, ../sass/main.scss */
nav img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
/* line 89, ../sass/main.scss */
nav img.ccds-logo {
  padding: 15px 60px;
}
/* line 94, ../sass/main.scss */
nav img.logo-text {
  padding-left: 0;
}
/* line 97, ../sass/main.scss */
nav img.nav-bar-cam {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 40px;
}

/* line 116, ../sass/main.scss */
.nav-home {
  cursor: pointer;
  margin: 30px 0;
}

/* line 121, ../sass/main.scss */
.nav-option {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -moz-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  padding-left: 30px;
  color: #ee3923;
}
/* line 134, ../sass/main.scss */
.nav-option i {
  font-size: 1.2rem;
  margin: 0 30px;
}
/* line 139, ../sass/main.scss */
.nav-option:hover, .nav-option.selected {
  color: white;
  background-color: #ee3923;
}

/* line 160, ../sass/main.scss */
.dashboard.container {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
}
/* line 163, ../sass/main.scss */
.dashboard.container section {
  padding-top: 60px;
}

/* line 167, ../sass/main.scss */
.user-info {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  max-width: 300px;
  color: white;
}

/* line 177, ../sass/main.scss */
.selfie-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
/* line 188, ../sass/main.scss */
.selfie-container .icon-contact {
  color: #ee3923;
  font-size: 175px;
}
/* line 192, ../sass/main.scss */
.selfie-container .icon-upload {
  color: white;
  font-size: 100px;
}

/* line 197, ../sass/main.scss */
.preview-selfie {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* line 203, ../sass/main.scss */
.confirm-button-wrapper {
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
  width: 200px;
  height: 0;
  overflow: hidden;
}
/* line 208, ../sass/main.scss */
.confirm-button-wrapper button {
  background-color: #43a943;
  width: 100%;
}
/* line 212, ../sass/main.scss */
.confirm-button-wrapper.reveal-upload {
  height: 38px;
}

/* line 216, ../sass/main.scss */
.upload-overlay {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 230, ../sass/main.scss */
.upload-overlay:hover {
  opacity: 1;
}

/* line 235, ../sass/main.scss */
.video-info {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  padding: 0 15px;
}
/* line 238, ../sass/main.scss */
.video-info video {
  width: 100%;
  max-height: 700px;
}
/* line 242, ../sass/main.scss */
.video-info .panel {
  padding: 20px;
  background-color: white;
  margin-bottom: 10px;
}

/* line 249, ../sass/main.scss */
.video-submission {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-align-items: center;
  align-items: center;
  background-color: white;
  padding: 15px;
}
/* line 257, ../sass/main.scss */
.video-submission button {
  margin-top: 20px;
}
/* line 259, ../sass/main.scss */
.video-submission button.inactive {
  pointer-events: none;
  background-color: grey;
}

/* line 266, ../sass/main.scss */
.personal-upload {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10px;
}
/* line 270, ../sass/main.scss */
.personal-upload h3 {
  font-weight: 500;
}

/* line 275, ../sass/main.scss */
.clock-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 10px;
}
/* line 280, ../sass/main.scss */
.clock-container h1 {
  color: #ee3923;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 3rem;
  font-weight: 500;
}

/* line 291, ../sass/main.scss */
.time-left {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
/* line 296, ../sass/main.scss */
.time-left .times-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  max-width: 750px;
}
/* line 301, ../sass/main.scss */
.time-left .times-wrapper h2 {
  color: #ee3923;
  font-weight: 400;
  font-size: 3rem;
}
/* line 307, ../sass/main.scss */
.time-left .time-container {
  text-align: center;
}

/* line 311, ../sass/main.scss */
.confirm-handoff {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.5rem;
  background-color: #43a943;
}

/* line 318, ../sass/main.scss */
.handoff-container {
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 320, ../sass/main.scss */
.handoff-container .user-selection-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  height: 300px;
  overflow: auto;
  width: 100%;
}
/* line 329, ../sass/main.scss */
.handoff-container .user-selection {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
/* line 334, ../sass/main.scss */
.handoff-container .user-selection:hover, .handoff-container .user-selection.selected {
  background-color: #43a943;
  color: white;
}

/* line 341, ../sass/main.scss */
.network-response {
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  position: absolute;
  width: 100%;
  padding: 10px 0;
  font-size: 1.5rem;
  background-color: #43a943;
  color: white;
}
/* line 350, ../sass/main.scss */
.network-response .text {
  visibility: hidden;
}
/* line 353, ../sass/main.scss */
.network-response.error {
  background-color: #d03d35;
}

/* line 358, ../sass/main.scss */
.upload-reminder {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
  height: 0;
  margin-bottom: 10px;
  background-color: white;
  visibility: hidden;
  font-weight: 200;
}
/* line 367, ../sass/main.scss */
.upload-reminder i {
  color: #f5a623;
  font-size: 2.5rem;
  padding: 0 30px;
}
/* line 374, ../sass/main.scss */
.upload-reminder h3 {
  font-weight: 500;
}

/* line 379, ../sass/main.scss */
.turn-info {
  padding: 20px;
  margin-bottom: 10px;
  background-color: white;
  text-align: center;
  font-weight: 500;
}

/* line 406, ../sass/main.scss */
.guidelines.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
/* line 410, ../sass/main.scss */
.guidelines.container h1 {
  padding: 60px 0;
}
/* line 415, ../sass/main.scss */
.guidelines.container h3 {
  font-weight: 400;
}
/* line 418, ../sass/main.scss */
.guidelines.container section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px 30px;
}
/* line 424, ../sass/main.scss */
.guidelines.container article {
  padding: 0 30px;
  max-width: 960px;
  width: 100%;
}
/* line 429, ../sass/main.scss */
.guidelines.container p {
  padding: 0 12px;
  font-weight: 300;
}
/* line 433, ../sass/main.scss */
.guidelines.container header h1 {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  color: white;
  padding: 0;
  padding-top: 60px;
}

/* line 444, ../sass/main.scss */
.last-note {
  margin-top: 60px;
}

/* line 447, ../sass/main.scss */
.guideline-intro {
  color: white;
}

/* line 451, ../sass/main.scss */
.meet-osmo {
  background-color: white;
}
/* line 453, ../sass/main.scss */
.meet-osmo img {
  width: 100%;
  cursor: pointer;
}

/* line 459, ../sass/main.scss */
.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

/* line 466, ../sass/main.scss */
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 488, ../sass/main.scss */
.login-panel {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.52);
  height: 100%;
  z-index: 2;
}

/* line 502, ../sass/main.scss */
.forgot-password {
  font-weight: 300;
  margin-top: 12px;
  cursor: pointer;
  color: #ee3923;
}

/* line 509, ../sass/main.scss */
.panel-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  padding: 50px;
  width: 450px;
}
/* line 515, ../sass/main.scss */
.panel-container .icon-exit {
  -moz-transition: black 0.2s;
  -o-transition: black 0.2s;
  -webkit-transition: black 0.2s;
  transition: black 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}
/* line 524, ../sass/main.scss */
.panel-container .icon-exit:hover {
  color: black;
}

/* line 530, ../sass/main.scss */
.register-account {
  color: #ee3923;
  cursor: pointer;
  font-weight: 400;
}

/* line 536, ../sass/main.scss */
.form-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
/* line 542, ../sass/main.scss */
.form-wrapper button {
  margin-top: 30px;
}
/* line 545, ../sass/main.scss */
.form-wrapper input {
  text-align: center;
}
/* line 548, ../sass/main.scss */
.form-wrapper hr {
  border: none;
  width: 119%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}
/* line 555, ../sass/main.scss */
.form-wrapper .icon-left-arrow {
  -moz-transition: black 0.2s;
  -o-transition: black 0.2s;
  -webkit-transition: black 0.2s;
  transition: black 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}
/* line 564, ../sass/main.scss */
.form-wrapper .icon-left-arrow:hover {
  color: black;
}

/* line 570, ../sass/main.scss */
.registration-wrapper {
  text-align: center;
}

/* line 584, ../sass/main.scss */
.panel-container.register h4 {
  margin: 0;
}
/* line 587, ../sass/main.scss */
.panel-container.register h3 {
  margin-top: 0;
  color: #ee3923;
}

/* line 592, ../sass/main.scss */
.show-password-container {
  font-weight: 300;
  margin-top: 10px;
}

/* line 606, ../sass/main.scss */
.stamp {
  position: absolute;
}
/* line 608, ../sass/main.scss */
.stamp.vertical {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  -moz-transform: translate(26%);
  -ms-transform: translate(26%);
  -webkit-transform: translate(26%);
  transform: translate(26%);
  left: 70%;
  height: 73vh;
  width: 26vh;
  bottom: 0;
}
/* line 618, ../sass/main.scss */
.stamp.arm {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  -moz-transform: translate(26%);
  -ms-transform: translate(26%);
  -webkit-transform: translate(26%);
  transform: translate(26%);
  left: 70%;
  height: 14vh;
  width: 37vh;
  bottom: 0;
}
/* line 628, ../sass/main.scss */
.stamp.video {
  -moz-transform: translate(-82%);
  -ms-transform: translate(-82%);
  -webkit-transform: translate(-82%);
  transform: translate(-82%);
  left: 70%;
  width: 38vh;
  height: 22vh;
  bottom: 26vh;
}

/* line 640, ../sass/main.scss */
.focus-item {
  position: absolute;
  background: white;
  width: 80%;
  height: 73%;
  top: 15%;
  left: 15%;
  overflow: hidden;
}
/* line 649, ../sass/main.scss */
.focus-item img {
  object-fit: cover;
  width: 100%;
}
/* line 653, ../sass/main.scss */
.focus-item video {
  height: 100%;
}

/* line 658, ../sass/main.scss */
#osmo-image {
  -moz-transform: translate(-35%, 10%);
  -ms-transform: translate(-35%, 10%);
  -webkit-transform: translate(-35%, 10%);
  transform: translate(-35%, 10%);
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  height: 80vh;
  left: 70%;
}

/* line 670, ../sass/main.scss */
.unit-reference {
  height: 1px;
  visibility: hidden;
  position: absolute;
  width: 1vh;
}

/* line 677, ../sass/main.scss */
.video-wrappers {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 680, ../sass/main.scss */
.video-wrappers.small {
  width: 20vh;
  height: 10vh;
}
/* line 685, ../sass/main.scss */
.video-wrappers.extra-wide {
  width: 32vh;
  height: 18vh;
}
/* line 691, ../sass/main.scss */
.video-wrappers.wide {
  width: 16vh;
  height: 12vh;
}
/* line 697, ../sass/main.scss */
.video-wrappers .image-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

/* line 708, ../sass/main.scss */
.container {
  display: inline-block;
  position: relative;
  flex: 1 1 0;
  overflow: auto;
}
/* line 713, ../sass/main.scss */
.container.upload-method {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 716, ../sass/main.scss */
.container.form-wrapper {
  padding: 30px;
  background-color: white;
}
/* line 720, ../sass/main.scss */
.container.row {
  display: -webkit-flex;
  display: flex;
}
/* line 723, ../sass/main.scss */
.container.mosaic {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  height: 100% !important;
}

/* line 732, ../sass/main.scss */
.row .upload-method {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 737, ../sass/main.scss */
.center-children, .focus-item {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 743, ../sass/main.scss */
.video-preview {
  height: 100px;
}

/* line 756, ../sass/main.scss */
.loader-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
/* line 768, ../sass/main.scss */
.loader-overlay #loader {
  width: 200px;
}
/* line 771, ../sass/main.scss */
.loader-overlay #draw {
  stroke: #ee3923;
  stroke-width: 30;
}
/* line 775, ../sass/main.scss */
.loader-overlay #outline {
  stroke: #ee3923;
  opacity: 0.1;
  stroke-width: 30;
}
